---
BasedOnStyle: Microsoft
ColumnLimit: 160
PointerAlignment: Left
DerivePointerAlignment: false
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Inline
CompactNamespaces: true
...
